<div class="mb-3">
	<label class="form-label" for="{{ name }}">{{ label }}</label>
	{% if type == 'textarea' %}
		<textarea class="form-control" id="{{ name }}" rows="3">{{ value }}</textarea>
	{% else %}
		<input class="form-control" value="{{ value }}" type="{{ type }}" id="{{ name }}" name="{{ name }}"/>
	{% endif %}
</div>