{% set url = path(path) | trim('/') %}
<li class="nav-item">
	<a class="nav-link {{ app.Url == url ? 'active' : '' }}" {{ app.Url == url ? 'aria-current="' ~ label ~ '"' : '' }} href="{{ url(path) }}">
		<i class="{{ icon }}"></i> {{ label }}
	</a>
</li>