{% extends 'base.html.twig' %}

{% block body %}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{% for key, p in products %}
			<a href="{{ path('product_detail', { id: p.id }) }}" class="text-decoration-none link-secondary">
				<div class="col">
					<div class="card shadow-sm">
						<img src="https://picsum.photos/200/100?random={{ key }}" alt="">
						<div class="card-body">
							<h4>{{ p.name }}</h4>
							<p class="card-text">{{ (p.comments | slice(0, 50)) ~ '...' }}</p>
							<p class="card-text">{{ p.price | amount }}</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
									<form action="{{ path('cart_increment_qty', { id: p.id }) }}">
										<button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart <i class="bi bi-cart-fill"></i></button>
									</form>
								</div>
								<small class="text-muted">{{ p.section.name }}</small>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
