{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-center m-4">{{ p.name }}</h1>
	<figure class="text-center">
		<figcaption class="blockquote-footer">
			{{ p.section.name }}
		</figcaption>
	</figure>
	<img src="https://picsum.photos/800/300" class="img-fluid rounded mx-auto d-block" alt="image">
	<p class="lead mt-4">{{ p.comments }}</p>
	<div class="mx-auto text-center" style="width: 200px;">
		<div class="card mb-4 rounded-3 shadow-sm">
			<div class="card-body">
				<h1 class="card-title pricing-card-title">{{ p.price | amount }}</h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Stock available : {{ p.stock }}</li>
				</ul>
				<button type="button" class="w-100 btn btn-lg btn-outline-primary">
                <i class="bi bi-cart"></i> Add to cart</button>
			</div>
		</div>
	</div>
{% endblock %}
